body {
  text-align: center;
  border-style: double;
  border-radius: 90px;
  border-width: 10px;
  background-color: #778da9;
  box-shadow: 
    12px 12px 16px 0 rgba(219, 219, 219, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;

}

h1 {
  color: #e0e1dd;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 20px
}

span {
  font-size: 20px;
}

button {
  text-align: center;
  background-color: #e0e1dd;
  color: #415a77;
  border-radius: 8px;
  font-size: 15px;
  border: 1px solid;
  padding: 10px;
 box-shadow: 
    5px 5px 16px 0 rgba(0, 0, 0, 0.25),
    -3px -2px 12px 0 rgba(255, 255, 255, 0.3);
}